.back{
    background-color: #000b18;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

@media (max-width:600px) {
.span {
    font-size: 4rem;
}
.spanone {
    font-size: 6rem;
    margin-top: -30px;
    margin-left: 0.9rem;
}
.spantwo {
    font-size: 3rem;
}
.spanthree {
    font-size: 1.5rem;
}
.gif {
    height: 5rem;
}
.back {
    padding-top: 60px;
    height: 550px;
    width: 100%;
    }
.back2 {
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 0px;
    }
}