.back{
    background: url(../bg/gif_.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    font-family: 'Noto Serif', serif;
    font-family: 'Secular One', sans-serif;
}

@media (max-width:500px) {
.back {
    color: white;
    padding-top: 60px;
    background: url('../bg/gif_02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    font-size:smaller;
    }
.back2 {
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 0px;
    }
}